* {
    font-family: 'Roboto', sans-serif ;
}
body {
    padding: 0;
    margin: 0;
}

section {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

table {
    width: 100%;
    margin-top: 29px;
    border-collapse: collapse;
    table-layout: fixed;
    vertical-align: top;
    border-spacing: 0;

}
thead {
    background-color: #F3F5F6;
    height: 48px;
}
td {
    height: 56px;
    border-bottom: 1px solid black;
    text-align: start;
}
th {
    text-align: center;
}
.deleteButton, .commButton {
    cursor: pointer;
    width: 160px;
    height: 38px;
    background: #EB564F;
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
}

.deleteButton:hover, .commButton:hover {
    background: #C8524D;
}
.deleteButton p, .commButton p {
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #FFFFFF;
}

.openModalButton {
    margin-top: 29px;
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 14px;

    color: #444A52;
    cursor: pointer;
    text-align: start;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 1000px;
    min-height: 400px;
}

.content1 {
    width: 450px;
}

.close, .closeComm {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.closeComm:hover,
.closeComm:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.inputs input{
    margin-bottom: 25px;
}
input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: #CACED2;
}
input {
    outline: none;
    border: 1px solid #E0E7E8;
    height: 50px;
    padding-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: #444A52;
}
.inputs {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}